# Core Django
Django
djangorestframework
mysqlclient
dj-database-url
python-dotenv
django-phonenumber-field[phonenumbers]
django-countries
django-crispy-forms
crispy-bootstrap5
crispy-tailwind
resend

# Authentification & Sécurité
djangorestframework-simplejwt
django-cors-headers
django-otp
fido2
qrcode[pil]
pyotp

# Email & Calendrier
icalendar

# Google APIs (Calendar, Drive, Docs, Sheets, Slides)
google-api-python-client>=2.100.0
google-auth>=2.23.0
google-auth-httplib2>=0.1.1

# Gestion des Tâches
celery
redis
django-celery-beat
django-apscheduler

# Paiements
stripe

# Social Auth
social-auth-app-django

# Utilitaires
Pillow
pytz
requests
django-filter
drf-spectacular
django-widget-tweaks

# Déploiement
gunicorn
whitenoise

# Manipulation de Documents
reportlab
python-docx
pdf2image
PyPDF2
pdfkit
xhtml2pdf

# Storage S3
django-storages
boto3

# Cryptographie & Signature
pyHanko
pyhanko-certvalidator
asn1crypto
oscrypto
python-gnupg
pgpy
cryptography
