{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
<li>
    <a href="{{ generator_url }}" class="addlink" style="background: #1a3c5e;">
        Generate Paystub
    </a>
</li>
<li>
    <a href="{{ batch_url }}" class="addlink" style="background: #2d5a8e;">
        Batch Paystubs
    </a>
</li>
<li>
    <a href="{{ earnings_url }}" class="addlink" style="background: #16a34a;">
        Earnings Report
    </a>
</li>
<li>
    <a href="{{ invoice_url }}" class="addlink" style="background: #c9a227;">
        Invoice Maker
    </a>
</li>
{{ block.super }}
{% endblock %}
